<div class="container mt-4">
    <h1>Semua Resep</h1>
    <a th:href="@{/admin/dashboard}" class="btn btn-secondary mb-3">Kembali ke Dashboard</a>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr><th>ID</th><th>Nama Resep</th><th>Pembuat (User)</th><th>Kategori</th></tr>
        </thead>
        <tbody>
            <tr th:each="resep : ${recipes}">
                <td th:text="${resep.id}"></td>
                <td th:text="${resep.namaResep}"></td>
                <td th:text="${resep.user.username}"></td>
                <td th:text="${resep.kategori.nama}"></td>
            </tr>
        </tbody>
    </table>
</div>